<% for(var i = 0; i < chars.length; i++) { %>
<tr>
    <td><%= chars[i]._id %></td>
    <td><%= chars[i].charname %></td>
    <td><%= chars[i].birthname %></td>
    <td><%= chars[i].types %></td>
    <td><%= chars[i].universes %></td>
    <td><%= chars[i].birthplace %></td>
    <td><%= chars[i].superpowers %></td>
    <td><%= chars[i].religions %></td>
    <td><%= chars[i].gender %></td>
    <td><%= chars[i].occupation %></td>
    <td><%= chars[i].memberof %></td>
</tr>
<% } %>